body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

.el-breadcrumb {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;

  .el-breadcrumb__inner {
    font-size: 17px;

    &.is-link {
      display: inline-block;
      font-weight: 600;
      color: #1d99e3 !important;
    }
  }

  .is-last-link .is-link {
    font-weight: 600;
    color: #000 !important;
  }
}
