body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

#app {
    height: 100%;
    padding: 0;
    margin: 0;
}

.el-breadcrumb {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
    .el-breadcrumb__inner {
        &.is-link {
            display: inline-block;
            font-weight: normal;
            color: #424040 !important;
        }
    }
    .is-last-link .is-link {
        font-weight: normal;
        color: #999 !important;
    }
}