//默认主题
$color-ming: #a4a4a4;
$size-ming: 14px;
$bg-ming: #191a23;
$active-theme: rgb(77, 188, 255);

//背景颜色
$bg-ming-theme1: #191a23; //主题1（默认）
$bg-ming-theme2: #409eff; //主题2
$bg-ming-theme3: #a16bfe; //主题3
$bg-ming-theme4: #121317; //主题4

//字体颜色
$font-color-ming-theme1: #a4a4a4;
$font-color-ming-theme2: #fff;
$font-color-ming-theme3: rgb(247, 183, 101);
$font-color-ming-theme4: rgb(157, 252, 244);

//选中背景颜色
$select-bg-ming-theme1: #409eff;
$select-bg-ming-theme2: #191a23;
$select-bg-ming-theme3: #409eff;
$select-bg-ming-theme4: #409eff;

//左边导航栏选中的字体颜色（独立设置）
$active-theme1: #fff;
$active-theme2: rgb(157, 252, 244);
$active-theme3: #fff;
$active-theme4: #fff;
